.drop-down {
    position: absolute;
    width: 300px;
    transition: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    overflow: hidden;
    animation: slideIn 0.15s ease-in-out;
  }


@keyframes slideIn {
  0% { clip-path: inset(0% 0% 100% 0%); }
  100% { clip-path: inset(0% 0% 0% 0%); }
}