.navbar { 
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    display: flex;
}
  
.navbar-nav {
    display: flex;
    justify-content: flex-end;
}